<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>FinApp</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
</head>
<body class="page-template page-template-templates page-template-user page-template-templatesuser-php page page-id-808 page-parent language-ru iti-mobile">

	<div id="sticky-wrapper" class="sticky-wrapper sticky header-sticky">
		<header class="ra-header ra-header-login">
			<div class="out-container ra-header-wrap">
				<div class="main-panel">
					<a href="https://www.rush-analytics.ru" class="ra-header-logo">
						<p>тут лого</p>
						<img loading="lazy" width="152" height="36" src="/imgs/logo.svg" alt="" title="logo">
					</a>
				</div>
			</div>
		</header>
	</div>
<main class="ra-main">
    <div class="login-page">
        <div class="login-page-form">
            <div class="login-page-wrap">
                <h1 class="is-style-title-attn">
					Расскажите
					<b>
						о себе
					</b>
				</h1>

				<form method="POST">
					{% csrf_token %}
					<div class="field-fyi">
						<img class="input-icon" src="/static/icons/name2.png" >
						<input class="email-input" id="first-name" placeholder="Ваше Имя" type="text" name="first-name" required="required">
					</div>
					<div class="error-message" id="first-name-error"></div>

					<div class="field-fyi">
						<img class="input-icon" src="/static/icons/name2.png" >
						<input class="email-input" id="last-name" placeholder="Ваша Фамилия" type="text" name="last-name" required="required">
					</div>
					<div class="error-message" id="last-name-error"></div>

					<div class="field-fyi">
						<img class="input-icon" src="/static/icons/calendar.svg" >
						<input class="date-of-birth-input" id="date-of-birth" placeholder="Дата Рождения" type="date" name="date-of-birth" required="required">
					</div>
					<div class="error-message" id="date-of-birth-error"></div>

					<div class="field-fyi">
						<img class="input-icon" src="/static/icons/tel.png" >
						<input class="email-input" id="phone-number" placeholder="Ваш контактный номер телефона" type="tel" name="phone-number" required="required">
					</div>
					<div class="error-message" id="phone-number-error"></div>

					<div class="field-fyi">
						<img class="input-icon" src="/static/icons/address.png" >
						<input class="email-input" id="address" placeholder="Ваш адрес проживания" type="text" name="address" required="required">
					</div>
					<div class="error-message" id="address-error"></div>


					<div style="padding-top: 20px;">

					</div>


					<input name="client-ip" type="hidden" id="client-ip" value="95.78.28.47">
					<button type="submit" class="btn btn-attn btn-arrow btn-register">
						Подтвердить регистрацию
					</button>
				</form>

				<p class="login-links">
                    Уже имеется аккаунт?
					<a href="{% url 'login' %}" class="btn-ga-login ga-event">
						Войти
					</a>
                </p>
            </div>
        </div>
        <div class="login-page-reviews">
			<div class="guest-slider d-ru-none" id="guest-slider-en">

			</div>
			<div class="guest-slider d-en-none" id="guest-slider-ru" data-v-app="">

			</div>
		</div>
	</div>
</main>

    <script src="{% static 'js/incorrect-input-2.js' %}"></script>
</body>

</html>